# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# no code today happy learning
# no code day 2
# no code day3
# no code day 4
# no code day 5
# no code day 6
# no code day 7
# no code day 8
# no code day 9
